<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 20%), url('https://static.pexels.com/photos/62379/pexels-photo-62379.jpeg');">
  <div class="banner-content">
    <h1>Welcome</h1>
    <p>Find a pet sitter next to you</p>
    <%= form_tag sitters_path, :method => 'get' do %>
  <p>

    <%= text_field_tag  :location, params[:location], placeholder:'Location' %>

    <%= text_field_tag :start_date, params[:start_date], placeholder:'From', class: 'datepicker DateInput__display-text DateInput__display-text--has-input DateInput__display-text--focused' %>

    <%= text_field_tag :end_date, params[:end_date], placeholder:'To', class: 'datepicker DateInput__display-text DateInput__display-text--has-input DateInput__display-text--focused' %>
  </p>
<% end %>
    <a class="btn btn-primary btn-lg">Search</a>
  </div>
</div>
<!--
background: linear-gradient(to left, #134E5E , #71B280); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ -->
