html, body {
  height: 100%;
}

a {
  color: #840266;
}

div {
  display: block;
}
@import "alert";
@import "avatars";
@import "badges";
@import "navbar";
@import "footer";
@import "banner";
@import "sitters";
@import "cards";

@import "user";

@import "buttons";

