#sub-header {
    background: #BFCB02;
    box-shadow: rgba(0,0,0,0.05) 0 1px;
    height: 55px;
    width: 100%;
    top: 55px;
    z-index: 4;
    cursor: default;
    margin-top: 0;
    border: 0;
    color: white;

}

#sub-header p {
  padding: 10px;

}

#map {
  position: fixed;
  display: block;
  right: 0;
  top: 0;
  bottom: 0;
}


.debug {
  border: 1px red solid;
}


user_sitter_pet_types .checkbox {
 display: inline-block;
}

.user_sitter_pet_types .checkbox input[type="checkbox"]:not(:checked) + .pets{
 filter: grayscale(2);
 opacity: .7;
}


.pets {
 height: 65px;
 width: 65px;
 display: inline-block;
}

.Dog {
 background: image-url('dog.png') no-repeat;
}

.Cat {
 background: image-url('cat.png') no-repeat;
}

.Bird {
 background: image-url('bird.png') no-repeat;
}

.Reptile {
 background: image-url('snake.png') no-repeat;
}

.Horse {
 background: image-url('horse.png') no-repeat;
}
