#sub-header {
    background: #BFCB02;
    box-shadow: rgba(0,0,0,0.05) 0 1px;
    height: 55px;
    width: 100%;
    top: 55px;
    z-index: 4;
    cursor: default;
    margin-top: 0;
    border: 0;
    color: white;

}

#sub-header p {
  padding: 10px;

}

.map {
  position: relative;
  display: block;
  right: 0;
  top: 0;
  height: 100%;
}

.container {
  padding-top: 30px;
  left: 0;
  position:relative;
  float: left;
  height: 100%;
}


.debug {
  border: 1px red solid;
}


